[submodule "feature-asset-inventory-backend"]
	path = feature-asset-inventory-backend
	url = github.com-work:Julian-Cotto/feature-asset-inventory-backend.git
[submodule "feature-asset-inventory-frontend"]
	path = feature-asset-inventory-frontend
	url = github.com-work:Julian-Cotto/feature-asset-inventory-frontend.git
[submodule "feature-continued-education-backend"]
	path = feature-continued-education-backend
	url = github.com-work:Julian-Cotto/feature-continued-education-backend.git
[submodule "feature-continued-education-frontend"]
	path = feature-continued-education-frontend
	url = github.com-work:Julian-Cotto/feature-continued-education-frontend.git
[submodule "app-platform-snowflake-client"]
	path = app-platform-snowflake-client
	url = github.com-work:Julian-Cotto/endymion-snowflake-client.git
[submodule "document-compliance-backend"]
	path = document-compliance-backend
	url = github.com-work:Julian-Cotto/feature-document-compliance-backend.git
[submodule "document-compliance-frontend"]
	path = document-compliance-frontend
	url = github.com-work:Julian-Cotto/feature-document-compliance-frontend.git
