FEATURE_KEY=[[ names.feature_key ]]
FEATURE_BASE_PATH=[[ names.base_path ]]
FEATURE_API_BASE_PATH=[[ names.api_base_path ]]
AUTH_MODE=[[ auth_mode ]]
REGISTRY_MODE=[[ registry_mode ]]
LOCAL_FRONTEND_URL=http://localhost:3100
LOCAL_BACKEND_URL=http://localhost:8000[[ names.api_base_path ]]
