from .config import JobSettings
from .runner import run_job

def test_run_job_executes_without_error() -> None:
    run_job(JobSettings(feature_key="[[ names.feature_key ]]", job_name="[[ target_name ]]", schedule="[[ target_schedule ]]"))
