resource_group_name          = "rg-platform-apps-test"
location                     = "Central US"
container_apps_environment_id = "/subscriptions/.../resourceGroups/.../providers/Microsoft.App/managedEnvironments/platform-cae-test"
acr_id                       = "/subscriptions/.../resourceGroups/.../providers/Microsoft.ContainerRegistry/registries/platformacrtest"
acr_login_server             = "platformacrtest.azurecr.io"
registry_url                 = "https://registry-test.example.com"
app_configuration_endpoint   = "https://platform-config-test.azconfig.io"
app_configuration_id         = "/subscriptions/.../resourceGroups/.../providers/Microsoft.AppConfiguration/configurationStores/platform-config-test"
image_tag                    = "20260323.1"
name_prefix                  = "portal"
environment                  = "test"
entra_tenant_id              = "00000000-0000-0000-0000-000000000000"
entra_audience               = "api://shell-bootstrap-api"
entra_issuer                 = "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0"
cache_backend                = "memory"
redis_url                    = ""
bootstrap_include_flag_prefixes = "shell.,orders.,inventory.,billing."
cors_allow_origins           = "https://shell-test.example.com"
